$secondary-color: #fff;
$border-color: #e2e2e2;
$base-color: #3783f0;
$background-color: #f2f2f4;
$title-color: #959595;
$title: #4b4b4b;
$status: #3783f0;
$border: #d6d6d6;
$table-th: #8a8a8a;
$button-border: #c2c2c2;
$button-text: #666666;
$btn-cancel: #f66565;
