@use "colors.scss" as c;
@import "@fontsource/mulish";
.header {
  width: 100%;
  height: 87px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  background-color: c.$secondary-color;
  position: fixed;
  top: 0;
  z-index: 1;
  .name {
    color: #252733;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-family: "Mulish";
  }
  svg {
    color: c.$base-color;
  }
  &__profile {
    width: 200px;
   // background-color: c.$secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .prof-img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 25px;
      img {
        width: 100%;
      }
    }
  }
  .notif-information {
    position: relative;
    .notif-count {
      position: absolute;
      border: 1px solid #e2e2e2;
      background-color: c.$secondary-color;
      top: -2px;
      right: -8px;
      font-size: 8px;
      width: 20px;
      text-align: center;
      border-radius: 8px;
      color: c.$base-color;
      font-weight: 800;
    }
  }
}
